body{
    margin:0;
    font-size: 5vmin;
}

button{
    font-size: 5vmin;
    width: 100%;
    height: auto;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#board{
    background:#4d94ff;
    align-self: center;
    flex: 0 0 auto;
    height:100vmin;
    width:100vmin;
    flex: 0.5 75vmin;
    /* position: absolute;
    /* top:0;bottom:0; */
    /* left:0;right:0; */
}

.die {
    float:left;
    position: relative;
    width: 24%;
    padding-bottom : 24%; /* = width for a 1:1 aspect ratio */
    margin:0.5%;
    background-color:#EEEEEE;
    overflow:hidden;
}

.die-content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    font-size: 18vmin;
    text-align:center;
}

#controls{
    /* position: relative; */
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
}

#controls div{
    flex: 1 0 auto;
}

div.timer {
    border-style: solid;
}

div.checkbox {
    margin: 0 auto;
    
}

div.timer p{
    border-style: solid;
    font-size: 15vmin;
    /* width: 50%; */
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}