body{
    margin:0;
    font-size: 5vmin;
}

button{
    font-size: 5vmin;
    width: 100%;
    height: auto;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}

#board{
    background:#001ea8;
    align-self: center;
    flex: 0 1 auto;
    height:100vmin;
    width:100vmin;
    top:0;bottom:0;
    left:0;right:0;
}

.die {
    float:left;
    position: relative;
    width: 24%;
    padding-bottom : 24%; /* = width for a 1:1 aspect ratio */
    margin:0.5%;
    background: radial-gradient(circle at 40% 30%, #FFFFEE, #BBBBAA);
    overflow:hidden;
    border-radius: 7%;
}

.die-content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    margin: 5%;
    font-size: 14vmin;
    text-align:center;
    line-height: 22vmin;
    background-color:#EEEEDD;
    border-radius: 50%;
    overflow: hidden;
}

#controls{
    flex: 1 1 0;
//    border-style: solid;
//    width: 100%;
}

div.checkbox {
    margin: 0 auto;
    
}

#timers {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.timer {

    flex: 1 0 auto;
}

.timer p{
    width: 100%;
//    border-style: solid;
    font-size: 15vmin;
    text-align: right;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
